doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="scripts/riot/riot+compiler.js")
    script(src="scripts/superagent/superagent.js")
  body
    block content
